body{
    background-color: whitesmoke;
    margin: 50px;
    border: 3px solid;
    display: flow-  root;
}
#ones{
    text-shadow: 3px 2px 5px blue;
    border-style: solid;
    border-width: 3px;
    border-color: aquamarine;
    border-radius: 10px;
    color:black;
}
#p1{
    border-bottom: 3px solid red;
    color:orange;
}
#p2{
    color:green;
}
.box{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
    margin: 50px;
}
#box1{
    background-color: hsl(350, 100%, 88%);

}
#box2{
    background-color: hsl(249, 80%, 67%);
}
.one1{
    border: 2px solid;
    height: 75px;
    overflow: auto;
}
#one{
    background-color: aqua;
}

#we1{
    background-color: hsl(0, 100%, 50%);
    width: 100px;
    height: 100px;
    display: block;
}
#we2{
    background-color: hsl(30, 59%, 53%);
    width: 100px;
    height: 100px;
    display: inline;
}
.container{
    background-color: aquamarine;
    height: 100vh;
}
.newbox1{
    background-color: beige;
    border: 2px solid; /* remove the border to make float works */
    padding: 25px;
    box-sizing: border-box;
    height: auto;
    width: 50%;
    float: left;
    text-align: center;

    /*max-height: 50%;*/
    /*max-height: 50%;*/
}
#box12{
    width: 200px;
    height: 200px;
    background-color: bisque;
    position: fixed;
    top: -100px;
    left: -100px;
}
#box13{
    width: 200px;
    height: 200px;
    background-color: rosybrown;
    position: relative;
    top: -100px;
    left: -100px;
}
body{
    background-image: url(background1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#container1{
    border: 2px solid;
}
#container1 p{ /* space = descendant, > = child, ~ = general sibling, + = adjacent sibling */
    background-color: chartreuse;
}
#container2 > #con2{
    background-color: aqua;
}
a:link{
    color: rgb(115, 75, 152);
}
a:hover{
    color: rgb(147, 130, 163);
    font-size: 1.1em;
}
a:active{
    color: blue;
    font-size: 1.1em;
}
a:visited{
    color: brown;
}
li:hover{
    background-color: rgb(98, 149, 150);
}
#n1:not(:hover){
    background-color: rgb(202, 177, 168);
}
#n1:nth-child(3){ /* odd, even,..n */
    background-color: rgb(40, 186, 101);
}
#greeting p{
    background-color: rgb(182, 113, 247);
    padding: 10px;
    display: none;
}
#greeting:hover p{
    display: block;
}
#hellos::first-letter{
    font-size: 2em;
    font-style: italic;
}
#lorem::first-line{
    background-color: darksalmon;
}
#lorem::selection{
    color: chocolate;
    background-color: rgb(84, 84, 84);
}
#fruit li::before{
    content: "✅";
}
#apple::after{
    content: "🍎";
}
#orange::after{
    content: "🍊";
}
#banana::after{
    content: "🍌";
}
#fruit li::marker{
    content: "＼(ﾟｰﾟ＼)";
    color: rgb(11, 83, 184);
    font-size: 1.2em;
}