:root{
    --primary: #2c3e50;
    --accent: #6c63ff;
    --gradient-bg: linear-gradient(to right, #6c63ff, #7b68ee, #a067e3);
    --text: #333;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #f4f6fa;
    color: var(--text);
}

header{
    background: var(--gradient-bg);
    color: white;
    padding: 80px 20px;
    text-align: center;
}

header h1{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 15px;
}

header p{
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.cta-btn{
    background-color: white;
    color: var(--accent);
    padding: 12px 24px;
    border-radius: 30px;
    border-style: none;
    font-size: 1rem;
    font-weight: 600;
}

.cta-btn hover{
    background-color: #ddd;
}

section{
    padding: 60px 20px;
    max-width: 1100px;
    margin:auto;
    text-align: center;
}

section h2{
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--primary);
}

section p{
    font-size: 1.1rem;
    margin-bottom: 30px;
    max-width: 800px;
    margin: auto;
}

.activities{
    border-top: 1px dashed gray;
}

.activity-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px,1fr));
    gap: 30px;
    margin-top: 40px;
}

.activity{
    background-color: white;
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    cursor: pointer;
}

.activity:hover{
    transition: 0.2s;
    transform: translateY(-5px);
}

.activity i{
    font: 2.5rem;
    color: var(--accent);
}

.activity h3{
    font-size: 1.3rem;
    color: var(--primary);
}

footer{
    background-color: #222;
    color: #bbb;
    text-align: center;
    margin: auto;
    padding: 30px 20px;
}

@media (max-width: 768px){
    header h1{
        font-size: 2.2 rem;
    }
    section p{
        font-size: 1 rem;
    }
}